<!-- <menu></menu> -->
<!-- <h1 style='text-align:center;'>-->
  <!-- View -->
 <!-- Welcome to {{title}}! --><!-- Angular Expression -->
 <!-- </h1> -->
<!-- <hello></hello>
<greet></greet> -->

<!-- <div style="text-align:center">
  <menu></menu>
  <products></products>
  <cartdetails></cartdetails>
</div> -->

<!-- <div style="text-align:center">
  <menu></menu>
  <login></login>
  <app-header></app-header>
</div> -->


<!-- <div style="text-align:center">
  <menu></menu> 
  <h2>Hello {{name}}!</h2><br/><br/>
  <profile 
  [profileName]="name" 
  (update)='updateEventListener($event)'></profile>
  <button (click)="clickHandler($event)">Click Me!</button>
</div> -->

<div style="text-align:center">
  <menu></menu>
  <router-outlet></router-outlet>
</div>
